.list__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.list__item {
  width: 220px;
  list-style: none;
  background-color: rgb(251, 143, 104);
  border: 2px solid rgb(105, 105, 105);
  text-align: center;
}

.image__list {
  height: 300px;
  background-image: cover;
  background-size: cover;
}

.name__list {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.house__list {
  text-decoration: none;
  color: rgb(255, 255, 255)
}
