@media (min-width: 1200px) {
  .list__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .list__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .list__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.list__item {
  width: 250px;
  list-style: none;
  background-color: rgb(251, 143, 104);
  border: 2px solid rgb(105, 105, 105);
  text-align: center;
}

.list__item:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.85);
}

.image__list {
  height: 300px;
  background-image: cover;
  background-size: cover;
}

.name__list {
  color: rgb(255, 255, 255);
}

.house__list {
  color: rgb(255, 255, 255);
  padding-top: 30px;
}
