.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter__list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo__container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.image__header {
  width: 400px;
}

.fa-heart {
  color: rgb(197, 0, 0);
}
